<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Agent_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{238,60}}</string>
                <key>sourceSize</key>
                <string>{246,68}</string>
            </dict>
            <key>common_dlxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,376},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_dlxq_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,189},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,64},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>common_fxzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,298},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_fxzq_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,298},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_hengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,9},{5,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,1}}</string>
                <key>sourceSize</key>
                <string>{5,1}</string>
            </dict>
            <key>common_hyxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_hyxq_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_shuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,5}}</string>
                <key>sourceSize</key>
                <string>{1,5}</string>
            </dict>
            <key>common_txxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,158},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_txxq_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_wdyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,80},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_wdyj_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_zjsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>common_zjsm_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>agent.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d48f10b9dc877958a0fb8d7d61625b5$</string>
            <key>textureFileName</key>
            <string>agent.png</string>
        </dict>
    </dict>
</plist>
