<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touxiang1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,372},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,246},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,124},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,124},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>touxiang1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45bdf848b99644e8fa6d82f5ec1071b2$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
