<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startup/xuanzhongtexiao_2jijiemian/xiuggaitouxiangguangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{2,2},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/xuanzhongtexiao_2jijiemian/xiuggaitouxiangguangquan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{172,2},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xuanzhongtexiao_2jijiemian.png</string>
            <key>size</key>
            <string>{342,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26c828695130feed08ac88c09371a767:3295197b6aff16ab4954aeb28fbf47eb:1608f107a749baa4da1df8510c2b5b28$</string>
            <key>textureFileName</key>
            <string>xuanzhongtexiao_2jijiemian.png</string>
        </dict>
    </dict>
</plist>
