<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>good-hytw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,34}</string>
                <key>spriteSourceSize</key>
                <string>{126,34}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>good-jpdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,34}</string>
                <key>spriteSourceSize</key>
                <string>{126,34}</string>
                <key>textureRect</key>
                <string>{{130,2},{126,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>good-rmtw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,36}</string>
                <key>spriteSourceSize</key>
                <string>{139,36}</string>
                <key>textureRect</key>
                <string>{{258,2},{139,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>good-sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{399,2},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{463,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1372,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1473,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1574,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1675,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1776,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{2,92},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{564,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{103,92},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{204,92},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{305,92},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{665,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{766,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{867,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{968,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1069,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1170,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{1271,2},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,138}</string>
                <key>spriteSourceSize</key>
                <string>{137,138}</string>
                <key>textureRect</key>
                <string>{{406,92},{137,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1274,681}</string>
                <key>spriteSourceSize</key>
                <string>{1274,681}</string>
                <key>textureRect</key>
                <string>{{545,92},{1274,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-gm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{71,31}</string>
                <key>textureRect</key>
                <string>{{2,775},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,57}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{75,775},{214,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-ljsy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,32}</string>
                <key>spriteSourceSize</key>
                <string>{122,32}</string>
                <key>textureRect</key>
                <string>{{291,775},{122,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,88}</string>
                <key>spriteSourceSize</key>
                <string>{99,88}</string>
                <key>textureRect</key>
                <string>{{415,775},{99,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-s9-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,105}</string>
                <key>spriteSourceSize</key>
                <string>{111,105}</string>
                <key>textureRect</key>
                <string>{{516,775},{111,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,138}</string>
                <key>spriteSourceSize</key>
                <string>{137,138}</string>
                <key>textureRect</key>
                <string>{{629,775},{137,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,3}</string>
                <key>spriteSourceSize</key>
                <string>{5,3}</string>
                <key>textureRect</key>
                <string>{{768,775},{5,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goods-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,133}</string>
                <key>spriteSourceSize</key>
                <string>{1020,133}</string>
                <key>textureRect</key>
                <string>{{775,775},{1020,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-gm-icon-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1797,775},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-gm-icon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{70,63}</string>
                <key>textureRect</key>
                <string>{{2,915},{70,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-gm-icon-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{70,63}</string>
                <key>textureRect</key>
                <string>{{152,915},{70,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-gm-icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,59}</string>
                <key>spriteSourceSize</key>
                <string>{76,59}</string>
                <key>textureRect</key>
                <string>{{74,915},{76,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-ts-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{980,492}</string>
                <key>spriteSourceSize</key>
                <string>{980,492}</string>
                <key>textureRect</key>
                <string>{{224,915},{980,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_select_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1206,915},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,57}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{1260,915},{214,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>songjinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,54}</string>
                <key>textureRect</key>
                <string>{{1476,915},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store-label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,63}</string>
                <key>spriteSourceSize</key>
                <string>{121,63}</string>
                <key>textureRect</key>
                <string>{{1540,915},{121,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goods.png</string>
            <key>size</key>
            <string>{1877,1409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323aa1287ebb132eac118412781e0b7a:5e1d3a73f54eab5c652c21f31b988b8d:38d9ec3b7271396a81cfe9250157b3b3$</string>
            <key>textureFileName</key>
            <string>goods.png</string>
        </dict>
    </dict>
</plist>
