<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/common981/gui-gm-button-yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,79}}</string>
                <key>sourceSize</key>
                <string>{205,79}</string>
            </dict>
            <key>res/common981/gui-icon-head-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-icon-head-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res/common981/gui-ti-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{968,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,344}}</string>
                <key>sourceSize</key>
                <string>{968,344}</string>
            </dict>
            <key>res/common981/gui-wz-ts-bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{1047,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1047,66}}</string>
                <key>sourceSize</key>
                <string>{1047,66}</string>
            </dict>
            <key>res/common981/paomadeng_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{1048,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1048,45}}</string>
                <key>sourceSize</key>
                <string>{1048,45}</string>
            </dict>
            <key>res/common981/wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>res/common981/waitBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,767},{661,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,79}}</string>
                <key>sourceSize</key>
                <string>{661,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common981.png</string>
            <key>size</key>
            <string>{1052,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296b94da33b9ebec9a6858ac007d0b35$</string>
            <key>textureFileName</key>
            <string>common981.png</string>
        </dict>
    </dict>
</plist>
