<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comexit/blue/bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,494}</string>
                <key>spriteSourceSize</key>
                <string>{250,494}</string>
                <key>textureRect</key>
                <string>{{640,694},{250,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/blue/bg_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,528}</string>
                <key>spriteSourceSize</key>
                <string>{689,528}</string>
                <key>textureRect</key>
                <string>{{1048,1},{689,528}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/blue/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1780,470},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/btn_hidepanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1775,542},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,57}</string>
                <key>spriteSourceSize</key>
                <string>{131,57}</string>
                <key>textureRect</key>
                <string>{{1642,519},{131,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,57}</string>
                <key>spriteSourceSize</key>
                <string>{131,57}</string>
                <key>textureRect</key>
                <string>{{1642,578},{131,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/btn_showpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1773,644},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/label_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,55}</string>
                <key>spriteSourceSize</key>
                <string>{202,55}</string>
                <key>textureRect</key>
                <string>{{58,745},{202,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/blue/menu_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{1578,126},{142,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/blue/menu_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,62}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{413,745},{146,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/blue/menu_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{1633,396},{146,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/blue/menu_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{146,62}</string>
                <key>textureRect</key>
                <string>{{1578,519},{144,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,393}</string>
                <key>spriteSourceSize</key>
                <string>{239,393}</string>
                <key>textureRect</key>
                <string>{{1633,1},{239,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/red/bg_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,508}</string>
                <key>spriteSourceSize</key>
                <string>{742,508}</string>
                <key>textureRect</key>
                <string>{{1,1},{742,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1781,396},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/red/btn_hidepanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,124}</string>
                <key>textureRect</key>
                <string>{{1633,693},{112,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,53}</string>
                <key>spriteSourceSize</key>
                <string>{123,53}</string>
                <key>textureRect</key>
                <string>{{1578,1},{123,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{367,906},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/red/btn_showpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,124}</string>
                <key>textureRect</key>
                <string>{{1759,746},{112,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/red/label_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,51}</string>
                <key>spriteSourceSize</key>
                <string>{196,51}</string>
                <key>textureRect</key>
                <string>{{115,745},{196,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/menu_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{289,745},{160,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/menu_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,52}</string>
                <key>spriteSourceSize</key>
                <string>{167,52}</string>
                <key>textureRect</key>
                <string>{{168,745},{167,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/menu_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,64}</string>
                <key>spriteSourceSize</key>
                <string>{159,64}</string>
                <key>textureRect</key>
                <string>{{347,745},{159,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/red/menu_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,65}</string>
                <key>spriteSourceSize</key>
                <string>{164,65}</string>
                <key>textureRect</key>
                <string>{{222,745},{164,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/yellow/bg_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,495}</string>
                <key>spriteSourceSize</key>
                <string>{267,495}</string>
                <key>textureRect</key>
                <string>{{1136,692},{267,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/yellow/bg_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{691,535}</string>
                <key>spriteSourceSize</key>
                <string>{693,535}</string>
                <key>textureRect</key>
                <string>{{511,1},{691,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/yellow/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1633,872},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/btn_hidepanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{540,694},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,54}</string>
                <key>spriteSourceSize</key>
                <string>{129,54}</string>
                <key>textureRect</key>
                <string>{{1642,637},{129,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,54}</string>
                <key>spriteSourceSize</key>
                <string>{120,54}</string>
                <key>textureRect</key>
                <string>{{1633,807},{120,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/btn_showpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{540,793},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/label_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,55}</string>
                <key>spriteSourceSize</key>
                <string>{207,55}</string>
                <key>textureRect</key>
                <string>{{1,745},{207,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comexit/yellow/menu_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,47}</string>
                <key>spriteSourceSize</key>
                <string>{143,47}</string>
                <key>textureRect</key>
                <string>{{222,911},{143,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/menu_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,64}</string>
                <key>spriteSourceSize</key>
                <string>{145,64}</string>
                <key>textureRect</key>
                <string>{{493,893},{145,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/menu_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,59}</string>
                <key>spriteSourceSize</key>
                <string>{145,59}</string>
                <key>textureRect</key>
                <string>{{1633,458},{145,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comexit/yellow/menu_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,61}</string>
                <key>spriteSourceSize</key>
                <string>{146,61}</string>
                <key>textureRect</key>
                <string>{{477,745},{146,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>comexit.png</string>
            <key>size</key>
            <string>{1876,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9939c5d8ddb34df927016547b05cac8:7bcc850b44179e9267b72d805d99193c:bb56e9fe8f3901da2cfeb98f522efd54$</string>
            <key>textureFileName</key>
            <string>comexit.png</string>
        </dict>
    </dict>
</plist>
