<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_rwb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,326},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_rwb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,162},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_scb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,244},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_scb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_yjb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,236},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_yjb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>cell_jinbi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,57},{213,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,53}}</string>
                <key>sourceSize</key>
                <string>{215,55}</string>
            </dict>
            <key>cell_shichang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,112},{208,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{208,48}}</string>
                <key>sourceSize</key>
                <string>{212,54}</string>
            </dict>
            <key>list_sort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,479},{77,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{77,61}}</string>
                <key>sourceSize</key>
                <string>{97,73}</string>
            </dict>
            <key>list_sort_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,416},{77,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{77,61}}</string>
                <key>sourceSize</key>
                <string>{97,73}</string>
            </dict>
            <key>list_sort_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,416},{77,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{77,61}}</string>
                <key>sourceSize</key>
                <string>{97,73}</string>
            </dict>
            <key>list_sort_wsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{114,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>list_win_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{935,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{935,95}}</string>
                <key>sourceSize</key>
                <string>{943,111}</string>
            </dict>
            <key>list_win_others.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{934,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{934,91}}</string>
                <key>sourceSize</key>
                <string>{942,109}</string>
            </dict>
            <key>phb_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,408},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>phb_touxiang_kuang_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,408},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>title_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{220,53}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{220,53}}</string>
                <key>sourceSize</key>
                <string>{224,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d32e282057ff9e94bc0d71a7fe7cb182$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
