<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{957,2086},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomIcon/bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{924,1439},{90,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomIcon/huoDong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{623,1822},{84,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomIcon/keFu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{94,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{709,1789},{94,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomIcon/paiHangBang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{796,1911},{90,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomIcon/shangcheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{716,2070},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomIcon/sheZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{92,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{356,2144},{92,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomIcon/xiaoXi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{90,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{671,2187},{90,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomIcon/yiHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{806,2028},{90,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{947,1708},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{473,1942},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{473,1942},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{408,2238},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_del_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,80}</string>
                <key>textureRect</key>
                <string>{{626,1658},{162,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_del_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{554,1973},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_del_huise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{762,1354},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_hui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{843,1338},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,90}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{670,1354},{226,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_nor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,58}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{947,1556},{150,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,90}</string>
                <key>spriteSourceSize</key>
                <string>{226,90}</string>
                <key>textureRect</key>
                <string>{{128,2168},{226,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,58}</string>
                <key>spriteSourceSize</key>
                <string>{150,60}</string>
                <key>textureRect</key>
                <string>{{882,1748},{150,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,80}</string>
                <key>textureRect</key>
                <string>{{716,1906},{162,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{208,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{391,1934},{208,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{218,94}</string>
                <key>spriteSourceSize</key>
                <string>{220,100}</string>
                <key>textureRect</key>
                <string>{{924,1012},{218,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{1148,592}</string>
                <key>spriteSourceSize</key>
                <string>{1184,620}</string>
                <key>textureRect</key>
                <string>{{2,2},{1148,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comedit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,54}</string>
                <key>spriteSourceSize</key>
                <string>{617,54}</string>
                <key>textureRect</key>
                <string>{{567,1354},{617,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_Prompt_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,387}</string>
                <key>spriteSourceSize</key>
                <string>{944,387}</string>
                <key>textureRect</key>
                <string>{{2,1152},{944,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{892,2152},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{892,2152},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_email_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1008,113}</string>
                <key>spriteSourceSize</key>
                <string>{1010,113}</string>
                <key>textureRect</key>
                <string>{{873,2},{1008,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_jinbi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,42}</string>
                <key>spriteSourceSize</key>
                <string>{302,42}</string>
                <key>textureRect</key>
                <string>{{626,1354},{302,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{124,55}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{888,1900},{124,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gui-fly-main-award-shuzi-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{567,1152},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-gm-icon-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{356,2238},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{473,2187},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{806,2145},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_02-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{945,1900},{72,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{942,1774},{72,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{572,2187},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image-gold-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,49}</string>
                <key>spriteSourceSize</key>
                <string>{303,49}</string>
                <key>textureRect</key>
                <string>{{873,1012},{303,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinBi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,68}</string>
                <key>spriteSourceSize</key>
                <string>{349,68}</string>
                <key>textureRect</key>
                <string>{{2,2098},{349,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{942,1848},{50,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{942,1848},{50,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jindutiao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,38}</string>
                <key>spriteSourceSize</key>
                <string>{788,38}</string>
                <key>textureRect</key>
                <string>{{527,1152},{788,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jindutiao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,32}</string>
                <key>spriteSourceSize</key>
                <string>{786,32}</string>
                <key>textureRect</key>
                <string>{{988,2},{786,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,440}</string>
                <key>spriteSourceSize</key>
                <string>{1,440}</string>
                <key>textureRect</key>
                <string>{{623,1354},{1,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phb_btn_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,75}</string>
                <key>spriteSourceSize</key>
                <string>{156,75}</string>
                <key>textureRect</key>
                <string>{{805,1753},{156,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/box_bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,134}</string>
                <key>spriteSourceSize</key>
                <string>{780,134}</string>
                <key>textureRect</key>
                <string>{{391,1152},{780,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,78}</string>
                <key>textureRect</key>
                <string>{{787,1561},{190,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/btn_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{190,78}</string>
                <key>spriteSourceSize</key>
                <string>{192,78}</string>
                <key>textureRect</key>
                <string>{{867,1556},{190,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/btn_qhzh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{924,1232},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/font_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{945,1974},{68,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting/font_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{124,57}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{898,2026},{124,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting/font_yinxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,40}</string>
                <key>spriteSourceSize</key>
                <string>{68,40}</string>
                <key>textureRect</key>
                <string>{{957,2016},{68,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shangyiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{635,1939},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title-common-rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,53}</string>
                <key>spriteSourceSize</key>
                <string>{108,53}</string>
                <key>textureRect</key>
                <string>{{782,2215},{108,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-213.5,43.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{430,90}</string>
                <key>textureRect</key>
                <string>{{867,1748},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touXiangKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,0}</string>
                <key>spriteSize</key>
                <string>{124,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,118}</string>
                <key>textureRect</key>
                <string>{{2,2168},{124,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vipbottombg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1350,171}</string>
                <key>spriteSourceSize</key>
                <string>{1350,171}</string>
                <key>textureRect</key>
                <string>{{596,2},{1350,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viptopbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,102}</string>
                <key>spriteSourceSize</key>
                <string>{1334,102}</string>
                <key>textureRect</key>
                <string>{{769,2},{1334,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiayiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{706,1582},{205,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>newPlaza.png</string>
            <key>size</key>
            <string>{1022,2288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48616c36e234374e9d558f839883dd11:88daa15eb6a8b623f18e1c354656b1eb:b109bbc08e32d5964925f8b7a84a4e6c$</string>
            <key>textureFileName</key>
            <string>newPlaza.png</string>
        </dict>
    </dict>
</plist>
