<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti_baoxianxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{223,60}}</string>
                <key>sourceSize</key>
                <string>{223,110}</string>
            </dict>
            <key>btn_cunru_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,662},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_cunru_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_quchu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,482},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_quchu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>bxx_btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{189,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{189,78}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>bxx_btn_queren_cunru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{217,85}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{217,85}}</string>
                <key>sourceSize</key>
                <string>{221,87}</string>
            </dict>
            <key>bxx_btn_queren_quchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{217,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{217,85}}</string>
                <key>sourceSize</key>
                <string>{221,87}</string>
            </dict>
            <key>cz_coin_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{515,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{515,90}}</string>
                <key>sourceSize</key>
                <string>{517,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bank.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65bb686b44207254a7d4a32fc73bffb$</string>
            <key>textureFileName</key>
            <string>bank.png</string>
        </dict>
    </dict>
</plist>
