<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>head_big_animal_3.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_4.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_9.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_12.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,170},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_10.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,170},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_6.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_8.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,340},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_5.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,340},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_11.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,510},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>head_big_animal_7.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,510},{168,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,168}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>BigHead.png</string>
      <key>size</key>
      <string>{508,678}</string>
      <key>textureFileName</key>
      <string>BigHead.png</string>
    </dict>
  </dict>
</plist>