<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danaotiangong.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,332}}</string>
                <key>sourceSize</key>
                <string>{219,332}</string>
            </dict>
            <key>errenniuniu.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,178},{217,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,162}}</string>
                <key>sourceSize</key>
                <string>{217,162}</string>
            </dict>
            <key>feiqinzousou.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{217,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,163}}</string>
                <key>sourceSize</key>
                <string>{217,163}</string>
            </dict>
            <key>guayigua.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{226,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{226,174}</string>
            </dict>
            <key>jincanbuyu.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,178},{217,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,162}}</string>
                <key>sourceSize</key>
                <string>{217,162}</string>
            </dict>
            <key>sangong.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{217,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,162}}</string>
                <key>sourceSize</key>
                <string>{217,162}</string>
            </dict>
            <key>tongbiniuniu.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,166},{217,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,162}}</string>
                <key>sourceSize</key>
                <string>{217,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_icon_2.png</string>
            <key>size</key>
            <string>{889,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adfa090cc6b33fe3c76ec57796d5d889:8975579ce1a47e67f7c5ab53dd8ade8c:6819a0fa20ff71011ae6d8c1792e4cc7$</string>
            <key>textureFileName</key>
            <string>game_icon_2.png</string>
        </dict>
    </dict>
</plist>
