<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_box_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,196},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,72}}</string>
                <key>sourceSize</key>
                <string>{142,72}</string>
            </dict>
            <key>charge_btn_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,183},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_accept_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,105},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,274},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charge_btn_add_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,318},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charge_btn_buy_again_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,277},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>charge_btn_buy_again_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,445},{87,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,54}}</string>
                <key>sourceSize</key>
                <string>{87,54}</string>
            </dict>
            <key>charge_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,472},{57,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,36}}</string>
                <key>sourceSize</key>
                <string>{57,36}</string>
            </dict>
            <key>charge_btn_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,92},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_charge_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,421},{87,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,54}}</string>
                <key>sourceSize</key>
                <string>{87,54}</string>
            </dict>
            <key>charge_btn_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,421},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>charge_btn_complain.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,358},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>charge_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,470},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>charge_btn_copy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,389},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>charge_btn_copy_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,454},{87,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,54}}</string>
                <key>sourceSize</key>
                <string>{87,54}</string>
            </dict>
            <key>charge_btn_createCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,94},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_enter_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,399},{87,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,54}}</string>
                <key>sourceSize</key>
                <string>{87,54}</string>
            </dict>
            <key>charge_btn_immediately.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,237},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_immediately_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_new_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,3},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_new_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,426},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>charge_btn_old_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_btn_open_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,158},{266,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,78}}</string>
                <key>sourceSize</key>
                <string>{266,78}</string>
            </dict>
            <key>charge_btn_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,105},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>charge_btn_public1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,365},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>charge_btn_public2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,442},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>charge_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,455},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>charge_btn_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,123},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>charge_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,196},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>charge_btn_send_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,374},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>charge_comment1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,391},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>charge_comment2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,192},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>charge_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,237},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charge_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,185},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>charge_flag_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,355},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>charge_flag_dx.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,294},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_flag_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,335},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_flag_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,465},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>charge_flag_yd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,274},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_flag_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,231},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_icon_bad.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,470},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>charge_icon_bad_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,351},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>charge_icon_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,453},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>charge_icon_good_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>charge_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,453},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>charge_icon_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,453},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>charge_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,460},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>charge_inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,460},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>charge_inputbox_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,429},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>charge_label_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,429},{95,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>charge_label_cardpwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,395},{95,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>charge_label_cardtype.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,393},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>charge_label_charge_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,337},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>charge_label_charge_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,357},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>charge_label_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,328},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>charge_label_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,404},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>charge_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,476},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>charge_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,261},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>charge_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,373},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>charge_new_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,453},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>charge_office_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,294},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>charge_office_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,231},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>charge_office_icon_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,398},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>charge_office_icon_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,431},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>charge_office_icon_huabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,398},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>charge_office_icon_unionpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,398},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>charge_office_icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,445},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>charge_office_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,107},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charge_office_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,404},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>charge_office_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1},{484,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,1}}</string>
                <key>sourceSize</key>
                <string>{484,1}</string>
            </dict>
            <key>charge_office_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,455},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>charge_office_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,158},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>charge_office_titile_comment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_office_titile_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,54},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_opeate.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,477},{59,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>charge_order_list_cell_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,54},{682,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,52}}</string>
                <key>sourceSize</key>
                <string>{682,52}</string>
            </dict>
            <key>charge_order_list_cell_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{682,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,52}}</string>
                <key>sourceSize</key>
                <string>{682,52}</string>
            </dict>
            <key>charge_order_titile_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,107},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_pc_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,358},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_pc_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,431},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>charge_pc_jdpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,332},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_pc_qqpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,269},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_pc_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,302},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>charge_pc_unionpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,272},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_pc_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,209},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>charge_state.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,477},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>charge_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,404},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>charge_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,477},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>charge_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_tips_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,260},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>charge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,3},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_title_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>charge_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1},{119,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,121}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>hall_office_charge_num_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,442},{175,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,66}}</string>
                <key>sourceSize</key>
                <string>{175,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_charge.png</string>
            <key>size</key>
            <string>{1542,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942058452fcac12c9eafa4ace5dbb99f:1/1$</string>
            <key>textureFileName</key>
            <string>hall_charge.png</string>
        </dict>
    </dict>
</plist>
