<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_bg_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1090,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1090,415}}</string>
                <key>sourceSize</key>
                <string>{1090,415}</string>
            </dict>
            <key>bank_bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{1005,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1005,80}}</string>
                <key>sourceSize</key>
                <string>{1005,80}</string>
            </dict>
            <key>bank_bg_select_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,103},{295,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,65}}</string>
                <key>sourceSize</key>
                <string>{295,65}</string>
            </dict>
            <key>bank_bg_select_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,417},{375,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,65}}</string>
                <key>sourceSize</key>
                <string>{375,65}</string>
            </dict>
            <key>bank_btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,210},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>bank_flag_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,205},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>bank_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,169},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bank_label_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,365},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_bank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,241},{151,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,30}}</string>
                <key>sourceSize</key>
                <string>{151,30}</string>
            </dict>
            <key>bank_label_bank_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,334},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,303},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_card_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,303},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,205},{195,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,35}}</string>
                <key>sourceSize</key>
                <string>{195,35}</string>
            </dict>
            <key>bank_label_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,272},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_name_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,272},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>bank_label_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,169},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,52},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>bank_title_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_bind_bank.png</string>
            <key>size</key>
            <string>{1393,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66495d68c4d4c9250e813d89ec7c9390:1/1$</string>
            <key>textureFileName</key>
            <string>hall_bind_bank.png</string>
        </dict>
    </dict>
</plist>
