<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_account_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,123},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>login_bg_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1},{330,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,385}}</string>
                <key>sourceSize</key>
                <string>{330,385}</string>
            </dict>
            <key>login_bg_account_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{330,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,415}}</string>
                <key>sourceSize</key>
                <string>{330,415}</string>
            </dict>
            <key>login_btn_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,387},{295,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,90}}</string>
                <key>sourceSize</key>
                <string>{295,90}</string>
            </dict>
            <key>login_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,264},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>login_btn_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,387},{295,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,90}}</string>
                <key>sourceSize</key>
                <string>{295,90}</string>
            </dict>
            <key>login_btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,82},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>login_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,173},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>login_flag_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,173},{70,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,190}}</string>
                <key>sourceSize</key>
                <string>{70,190}</string>
            </dict>
            <key>login_input_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,82},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>login_input_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,82},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>login_label_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,249},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>login_label_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,345},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>login_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,280},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>login_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,173},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>login_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>login_title_all_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1},{225,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,80}}</string>
                <key>sourceSize</key>
                <string>{225,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_login.png</string>
            <key>size</key>
            <string>{924,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e6ea90f7cc182d79c30cabec36db12:1/1$</string>
            <key>textureFileName</key>
            <string>hall_login.png</string>
        </dict>
    </dict>
</plist>
