<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_bg_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,591},{253,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,361}}</string>
                <key>sourceSize</key>
                <string>{253,361}</string>
            </dict>
            <key>charge_bg_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{590,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,240}}</string>
                <key>sourceSize</key>
                <string>{590,240}</string>
            </dict>
            <key>charge_bg_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1},{589,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,371}}</string>
                <key>sourceSize</key>
                <string>{589,371}</string>
            </dict>
            <key>charge_bg_top_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,845},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_alipay_de.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,845},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_alipay_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,910},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_jdpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,910},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_office.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,910},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_qqpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1501},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,910},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_unionpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,743},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,576},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
            <key>charge_bg_top_wechat_de.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{590,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,166}}</string>
                <key>sourceSize</key>
                <string>{590,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_charge_bg.png</string>
            <key>size</key>
            <string>{1003,1668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08507c121e2aaf63dac39e8c6101795:1/1$</string>
            <key>textureFileName</key>
            <string>hall_charge_bg.png</string>
        </dict>
    </dict>
</plist>
