<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ex_money_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,814},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ex_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,895},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ex_record_btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,814},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ex_record_label_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,984},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>ex_record_label_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,939},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>ex_record_label_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,903},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>ex_record_label_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,984},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>ex_record_moneynum.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,984},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>ex_record_more_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,561},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>ex_record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,478},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>exchange_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{590,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,195}}</string>
                <key>sourceSize</key>
                <string>{590,195}</string>
            </dict>
            <key>exchange_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{590,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,180}}</string>
                <key>sourceSize</key>
                <string>{590,180}</string>
            </dict>
            <key>exchange_btn_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,893},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_btn_bank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,802},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,870},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>exchange_btn_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,724},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>exchange_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,612},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>exchange_btn_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,668},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>exchange_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,612},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>exchange_btn_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,711},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_btn_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_btn_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_btn_zfb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,427},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>exchange_gold_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,518},{230,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,42}}</string>
                <key>sourceSize</key>
                <string>{230,42}</string>
            </dict>
            <key>exchange_inputbox_420_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,895},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>exchange_label_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,864},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>exchange_label_bankcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,833},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>exchange_label_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,802},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>exchange_label_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,771},{184,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,30}}</string>
                <key>sourceSize</key>
                <string>{184,30}</string>
            </dict>
            <key>exchange_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,990},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_record_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,976},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_record_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,961},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_record_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,932},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_record_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,903},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_record_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,988},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>exchange_text_exmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,780},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>exchange_text_exmoney_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,378},{572,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,48}}</string>
                <key>sourceSize</key>
                <string>{572,48}</string>
            </dict>
            <key>exchange_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,427},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>hall_btn_finance_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,703},{207,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,67}}</string>
                <key>sourceSize</key>
                <string>{207,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_exchange.png</string>
            <key>size</key>
            <string>{592,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5bd289d75124b58e7a2dd8c40ab21f1:1/1$</string>
            <key>textureFileName</key>
            <string>hall_exchange.png</string>
        </dict>
    </dict>
</plist>
