<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,37},{563,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,35}}</string>
                <key>sourceSize</key>
                <string>{563,35}</string>
            </dict>
            <key>hall_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{563,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,35}}</string>
                <key>sourceSize</key>
                <string>{563,35}</string>
            </dict>
            <key>hall_loading_guanwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,132},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,78}</string>
            </dict>
            <key>hall_loading_loading_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,73},{403,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,58}}</string>
                <key>sourceSize</key>
                <string>{403,58}</string>
            </dict>
            <key>hall_loading_text001.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,174},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hall_loading_text002.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hall_loading_text003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,132},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hall_loading_text004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,174},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hall_loading_text005.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>hall_loading_text006.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,47},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>hall_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{429,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,168}}</string>
                <key>sourceSize</key>
                <string>{429,168}</string>
            </dict>
            <key>hall_pop_loading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,174},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading02.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading03.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,174},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading04.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading05.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,174},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading06.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading07.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,174},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading08.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hall_pop_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,132},{275,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,41}}</string>
                <key>sourceSize</key>
                <string>{275,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_loading.png</string>
            <key>size</key>
            <string>{835,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fe0f60cbac317dffc3f74edd43fa76d:1/1$</string>
            <key>textureFileName</key>
            <string>hall_loading.png</string>
        </dict>
    </dict>
</plist>
