<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,401},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>help_btn_complain.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,463},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>help_btn_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>help_btn_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,432},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>help_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>help_btn_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,401},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>help_dialog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,321},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>help_dialog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,321},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>help_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,463},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>help_label_complain.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,474},{155,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,35}}</string>
                <key>sourceSize</key>
                <string>{155,35}</string>
            </dict>
            <key>help_title_complain.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,423},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>help_title_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>help_title_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,321},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>help_txt_qa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{710,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,319}}</string>
                <key>sourceSize</key>
                <string>{710,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_help.png</string>
            <key>size</key>
            <string>{712,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8130b73bb8801b892973e6632350401b:1/1$</string>
            <key>textureFileName</key>
            <string>hall_help.png</string>
        </dict>
    </dict>
</plist>
