<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_bg_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,52},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>mail_bg_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>mail_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,118},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>mail_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,92},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>mail_btn_mail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>mail_btn_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>mail_btn_notice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>mail_btn_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,94},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>mail_flag_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,52},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>mail_flag_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,52},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>mail_label_aready.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,118},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>mail_label_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,94},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>mail_title_game_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_mail.png</string>
            <key>size</key>
            <string>{932,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df956793e21f6ce99f9bbb803410fa30:1/1$</string>
            <key>textureFileName</key>
            <string>hall_mail.png</string>
        </dict>
    </dict>
</plist>
