<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>generalize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1110,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1110,582}}</string>
                <key>sourceSize</key>
                <string>{1110,582}</string>
            </dict>
            <key>generalize_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,584},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>generalize_btn_copy_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,584},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_generalize.png</string>
            <key>size</key>
            <string>{1112,675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a300d1b96fdc219f67adcceb9e6e7383:1/1$</string>
            <key>textureFileName</key>
            <string>hall_generalize.png</string>
        </dict>
    </dict>
</plist>
