<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bg_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,440},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common_bg_content1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,205},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_bg_content3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,62},{260,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,460}}</string>
                <key>sourceSize</key>
                <string>{260,460}</string>
            </dict>
            <key>common_btn_get_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,134},{145,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,70}}</string>
                <key>sourceSize</key>
                <string>{145,70}</string>
            </dict>
            <key>common_btn_get_code_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,439},{145,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,70}}</string>
                <key>sourceSize</key>
                <string>{145,70}</string>
            </dict>
            <key>common_btn_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,206},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>common_btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,448},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>common_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,348},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>common_btn_yes_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,257},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>common_flag_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,298},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>common_input_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,297},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_input_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,297},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>common_input_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,390},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>common_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,257},{68,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,190}}</string>
                <key>sourceSize</key>
                <string>{68,190}</string>
            </dict>
            <key>common_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,170},{415,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,35}}</string>
                <key>sourceSize</key>
                <string>{415,35}</string>
            </dict>
            <key>common_progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,134},{415,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,35}}</string>
                <key>sourceSize</key>
                <string>{415,35}</string>
            </dict>
            <key>common_progress_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,379},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>common_progress_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,470},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>common_title_txmsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,206},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>ddz_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,390},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,34}}</string>
                <key>sourceSize</key>
                <string>{140,34}</string>
            </dict>
            <key>ddz_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,425},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>hall_ad_mark_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,431},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_ad_mark_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_common_head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,440},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_common_head_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,298},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_common_loader_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,133},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>hall_common_loader_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,62},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_common_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,439},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hall_common_scalebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,32},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_common_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,62},{532,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,71}}</string>
                <key>sourceSize</key>
                <string>{532,71}</string>
            </dict>
            <key>hall_exchange_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{840,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,60}}</string>
                <key>sourceSize</key>
                <string>{840,60}</string>
            </dict>
            <key>hall_pmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,425},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>hall_red_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,257},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_common.png</string>
            <key>size</key>
            <string>{873,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea9411db54d683413d0292113b744d4:1/1$</string>
            <key>textureFileName</key>
            <string>hall_common.png</string>
        </dict>
    </dict>
</plist>
