<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongbao_act_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1020,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,574}}</string>
                <key>sourceSize</key>
                <string>{1020,574}</string>
            </dict>
            <key>hongbao_btn_goto_office_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,97},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>hongbao_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,3},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>hongbao_btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,191},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hongbao_icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,191},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>hongbao_icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,191},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>hongbao_open_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,581},{644,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,640}}</string>
                <key>sourceSize</key>
                <string>{644,640}</string>
            </dict>
            <key>hongbao_open_inner_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,581},{644,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,640}}</string>
                <key>sourceSize</key>
                <string>{644,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hongbao.png</string>
            <key>size</key>
            <string>{1298,1224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3f9a2c08290511e78f8c7b54516344:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hongbao.png</string>
        </dict>
    </dict>
</plist>
