<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,612},{570,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,100}}</string>
                <key>sourceSize</key>
                <string>{570,100}</string>
            </dict>
            <key>rank_bg_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,754},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rank_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,602},{570,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,100}}</string>
                <key>sourceSize</key>
                <string>{570,100}</string>
            </dict>
            <key>rank_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,612},{206,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,83}}</string>
                <key>sourceSize</key>
                <string>{206,83}</string>
            </dict>
            <key>rank_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,602},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>rank_btn_last_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,878},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_btn_last_week_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,804},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_btn_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,804},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_btn_today_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,787},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_btn_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,713},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_btn_week_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>rank_flag_today_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,885},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_today_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,885},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_today_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,885},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_today_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,794},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_today_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,794},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_week_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,703},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_week_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,871},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_week_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,780},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_week_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,703},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_flag_week_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,696},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>rank_input_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,895},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>rank_label_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,936},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>rank_label_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,754},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>rank_rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,703},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>rank_rule_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1},{628,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,600}}</string>
                <key>sourceSize</key>
                <string>{628,600}</string>
            </dict>
            <key>rank_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,703},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>rank_week_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{782,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,610}}</string>
                <key>sourceSize</key>
                <string>{782,610}</string>
            </dict>
            <key>rank_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,779},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_rank.png</string>
            <key>size</key>
            <string>{1413,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21b599c619934993f827b8bb9769754e:1/1$</string>
            <key>textureFileName</key>
            <string>hall_rank.png</string>
        </dict>
    </dict>
</plist>
