<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bind_phone_label_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,281},{256,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,40}}</string>
                <key>sourceSize</key>
                <string>{256,40}</string>
            </dict>
            <key>bind_phone_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,435},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>change_btn_get_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,314},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>change_title_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,382},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>head_frame_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,246},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>head_frame_box_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>head_frame_box_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,125},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>user_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,470}}</string>
                <key>sourceSize</key>
                <string>{260,470}</string>
            </dict>
            <key>user_bind_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,428},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>user_bind_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,395},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>user_btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,362},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>user_btn_bind_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,188},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_btn_change_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,188},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,329},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>user_btn_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,95},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_btn_modifyName.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,468},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>user_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,95},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_btn_sex_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_btn_sex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>user_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,314},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>user_label_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,389},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>user_label_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,435},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>user_label_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,281},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>user_label_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,475},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>user_label_safebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{135,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,30}}</string>
                <key>sourceSize</key>
                <string>{135,30}</string>
            </dict>
            <key>user_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,329},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_user_info.png</string>
            <key>size</key>
            <string>{809,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2988ce4f0c7373cd1901a3b56790e96a:1/1$</string>
            <key>textureFileName</key>
            <string>hall_user_info.png</string>
        </dict>
    </dict>
</plist>
