<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_bg_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{755,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,120}}</string>
                <key>sourceSize</key>
                <string>{755,120}</string>
            </dict>
            <key>act_bg_myTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{755,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,135}}</string>
                <key>sourceSize</key>
                <string>{755,135}</string>
            </dict>
            <key>act_bg_reward_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,329},{755,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,41}}</string>
                <key>sourceSize</key>
                <string>{755,41}</string>
            </dict>
            <key>act_bg_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,285},{755,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,41}}</string>
                <key>sourceSize</key>
                <string>{755,41}</string>
            </dict>
            <key>act_bg_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,241},{755,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,41}}</string>
                <key>sourceSize</key>
                <string>{755,41}</string>
            </dict>
            <key>act_bg_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{755,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,41}}</string>
                <key>sourceSize</key>
                <string>{755,41}</string>
            </dict>
            <key>act_bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,121},{743,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,69}}</string>
                <key>sourceSize</key>
                <string>{743,69}</string>
            </dict>
            <key>act_bg_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{755,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,116}}</string>
                <key>sourceSize</key>
                <string>{755,116}</string>
            </dict>
            <key>act_btn_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,347},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>act_btn_winList.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,177},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>act_btn_zhounian_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,95},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>act_btn_zhounian_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>act_label_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,177},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>act_label_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,382},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>act_label_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,313},{90,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,42}}</string>
                <key>sourceSize</key>
                <string>{90,42}</string>
            </dict>
            <key>act_my_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{750,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,45}}</string>
                <key>sourceSize</key>
                <string>{750,45}</string>
            </dict>
            <key>act_my_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,193},{750,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,45}}</string>
                <key>sourceSize</key>
                <string>{750,45}</string>
            </dict>
            <key>act_my_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,373},{750,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,40}}</string>
                <key>sourceSize</key>
                <string>{750,40}</string>
            </dict>
            <key>act_my_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,294},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>act_progerss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,434},{650,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,15}}</string>
                <key>sourceSize</key>
                <string>{650,15}</string>
            </dict>
            <key>act_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,416},{650,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,15}}</string>
                <key>sourceSize</key>
                <string>{650,15}</string>
            </dict>
            <key>act_progress_separate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,294},{15,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,35}}</string>
                <key>sourceSize</key>
                <string>{15,35}</string>
            </dict>
            <key>act_reward_bg_cell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{730,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,80}}</string>
                <key>sourceSize</key>
                <string>{730,80}</string>
            </dict>
            <key>act_reward_bg_cell_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{730,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,95}}</string>
                <key>sourceSize</key>
                <string>{730,95}</string>
            </dict>
            <key>act_reward_bg_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,356},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>act_reward_bg_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,452},{564,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,45}}</string>
                <key>sourceSize</key>
                <string>{564,45}</string>
            </dict>
            <key>act_reward_label_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,460},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>act_reward_label_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,460},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>act_reward_label_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,460},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>act_reward_label_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,382},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>act_reward_label_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,235},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>act_reward_label_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,313},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>act_reward_label_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,276},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>act_reward_text_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,435},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>act_reward_text_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,496},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>act_reward_text_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,416},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>act_reward_text_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,235},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>act_reward_text_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,358},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>act_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,241},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>act_text_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,429},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>act_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,386},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>act_text_allServerTickets.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,500},{185,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>act_text_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,397},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>act_text_description.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,405},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>act_text_myTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,500},{140,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>act_text_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,476},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>act_text_rewardSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,500},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>act_text_reward_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,347},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,142},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,107},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,72},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,37},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_reward_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,2},{200,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,32}</string>
            </dict>
            <key>act_text_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,500},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>act_text_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,443},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>act_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,188},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_activity.png</string>
            <key>size</key>
            <string>{2024,537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44f80eaeb923ec40183603e622531c81:1/1$</string>
            <key>textureFileName</key>
            <string>hall_activity.png</string>
        </dict>
    </dict>
</plist>
