<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_report_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,52},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>hall_report_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>hall_report_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{581,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,155}}</string>
                <key>sourceSize</key>
                <string>{581,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_report.png</string>
            <key>size</key>
            <string>{884,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308b26a19d79fa63a8353b12485ca351:1/1$</string>
            <key>textureFileName</key>
            <string>hall_report.png</string>
        </dict>
    </dict>
</plist>
