<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>safebox_bg_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,140},{590,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,135}}</string>
                <key>sourceSize</key>
                <string>{590,135}</string>
            </dict>
            <key>safebox_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,375}}</string>
                <key>sourceSize</key>
                <string>{592,375}</string>
            </dict>
            <key>safebox_bg_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{590,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,135}}</string>
                <key>sourceSize</key>
                <string>{590,135}</string>
            </dict>
            <key>safebox_btn_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,424},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>safebox_btn_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,278},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>safebox_btn_forget.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,477},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>safebox_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,278},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>safebox_btn_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,380},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>safebox_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,278},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>safebox_btn_save_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>safebox_btn_setpwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,477},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>safebox_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,45},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>safebox_setpwd_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>safebox_title_reset_pwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,424},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>safebox_title_safebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,371},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>safebox_title_setpwd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,424},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>safebox_title_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,371},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>safebox_txt_bank_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,477},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>safebox_txt_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,477},{185,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,31}}</string>
                <key>sourceSize</key>
                <string>{185,31}</string>
            </dict>
            <key>safebox_txt_pwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,477},{185,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,31}}</string>
                <key>sourceSize</key>
                <string>{185,31}</string>
            </dict>
            <key>safebox_txt_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{185,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,31}}</string>
                <key>sourceSize</key>
                <string>{185,31}</string>
            </dict>
            <key>safebox_txt_self_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,477},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_safebox.png</string>
            <key>size</key>
            <string>{1232,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:171fee460a1fe3adda4648afcc22d9f3:1/1$</string>
            <key>textureFileName</key>
            <string>hall_safebox.png</string>
        </dict>
    </dict>
</plist>
