<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_label_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>zfb_btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>zfb_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,52},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zfb_label_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,88},{140,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>zfb_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,52},{140,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>zfb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_bind_zfb.png</string>
            <key>size</key>
            <string>{511,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0353de4277b9798401b3cf71d0b3f93:1/1$</string>
            <key>textureFileName</key>
            <string>hall_bind_zfb.png</string>
        </dict>
    </dict>
</plist>
