<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accountSafe/btn_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,80}</string>
                <key>spriteSourceSize</key>
                <string>{162,80}</string>
                <key>textureRect</key>
                <string>{{1579,72},{162,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>accountSafe/email.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1661,2},{102,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>accountSafe/frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1428,2},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accountSafe/frame_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,134}</string>
                <key>spriteSourceSize</key>
                <string>{1010,134}</string>
                <key>textureRect</key>
                <string>{{2,2},{1010,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accountSafe/pic_mibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1763,2},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>accountSafe/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,57}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{404,194},{214,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_anquan_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,51}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{955,138},{165,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_anquan_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,51}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1046,191},{165,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_geren_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,51}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1014,83},{165,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_geren_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,51}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1122,136},{165,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_mima_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,53}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{621,138},{165,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_mima_sel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,53}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{788,138},{165,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/btn_sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1014,2},{205,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/font_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,32}</string>
                <key>spriteSourceSize</key>
                <string>{170,32}</string>
                <key>textureRect</key>
                <string>{{1181,83},{170,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/font_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{1498,37},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/font_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,33}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{1498,2},{134,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/font_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,33}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{1213,189},{130,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/frame_mima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,54}</string>
                <key>spriteSourceSize</key>
                <string>{617,54}</string>
                <key>textureRect</key>
                <string>{{2,138},{617,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modify/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{212,57}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{620,194},{212,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/btn_bianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{1221,2},{205,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/female_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1345,136},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/female_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1462,108},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/font_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{1213,224},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/frame_jindu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,23}</string>
                <key>spriteSourceSize</key>
                <string>{216,23}</string>
                <key>textureRect</key>
                <string>{{1353,83},{216,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/frame_mingcheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,54}</string>
                <key>spriteSourceSize</key>
                <string>{400,54}</string>
                <key>textureRect</key>
                <string>{{2,194},{400,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/icon_xuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{1763,106},{88,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>personal/jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,17}</string>
                <key>spriteSourceSize</key>
                <string>{209,17}</string>
                <key>textureRect</key>
                <string>{{1181,117},{209,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{210,55}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{834,193},{210,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal/touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1661,106},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>personal.png</string>
            <key>size</key>
            <string>{1861,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a85669faa5c46a68be28544df1ecde2:e9b5663213e7929a4c0a0d89a9f4dff8:8863fed96b147010ef34e825190e51cc$</string>
            <key>textureFileName</key>
            <string>personal.png</string>
        </dict>
    </dict>
</plist>
