<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_register1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,80}</string>
                <key>textureRect</key>
                <string>{{1250,2},{162,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzengsongjinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,52}</string>
                <key>spriteSourceSize</key>
                <string>{688,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{688,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>findpassword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,32}</string>
                <key>spriteSourceSize</key>
                <string>{170,32}</string>
                <key>textureRect</key>
                <string>{{2,56},{170,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_denglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,55}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{174,56},{128,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{128,55}</string>
                <key>spriteSourceSize</key>
                <string>{214,57}</string>
                <key>textureRect</key>
                <string>{{304,56},{128,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{488,56},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{434,56},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_kefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{94,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{1414,2},{94,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scan_button_cheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{277,91}</string>
                <key>spriteSourceSize</key>
                <string>{319,105}</string>
                <key>textureRect</key>
                <string>{{692,2},{277,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scan_button_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{277,91}</string>
                <key>spriteSourceSize</key>
                <string>{319,105}</string>
                <key>textureRect</key>
                <string>{{971,2},{277,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1531,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2c4680d2b7e56e3bbbc41938728112:d9e942ba9564eb4ff0f3af800c32bed3:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
