<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common1_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1183},{66,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common_btn_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,995},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>common_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1183},{93,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{93,51}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>common_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1284},{801,546}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{801,546}}</string>
                <key>sourceSize</key>
                <string>{801,570}</string>
            </dict>
            <key>common_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_tankuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>frame_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,844},{1048,81}}</string>
                <key>offset</key>
                <string>{-116,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{1048,81}}</string>
                <key>sourceSize</key>
                <string>{1280,101}</string>
            </dict>
            <key>frame_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,984},{57,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{57,48}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>frame_btn_baoxianxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,995},{82,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{82,96}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>frame_btn_caishenrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{100,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{100,91}}</string>
                <key>sourceSize</key>
                <string>{134,111}</string>
            </dict>
            <key>frame_btn_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{92,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{92,102}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>frame_btn_kaihuhaoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1183},{86,90}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{86,90}}</string>
                <key>sourceSize</key>
                <string>{154,124}</string>
            </dict>
            <key>frame_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{102,98}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>frame_btn_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1183},{92,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{92,100}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>frame_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1093},{81,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>frame_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1082},{88,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{88,108}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>frame_btn_yrbw.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,844},{138,111}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{138,111}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>frame_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1183},{303,66}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{303,66}}</string>
                <key>sourceSize</key>
                <string>{343,76}</string>
            </dict>
            <key>frame_gonggao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{862,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{862,40}}</string>
                <key>sourceSize</key>
                <string>{862,42}</string>
            </dict>
            <key>frame_gonggao_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2020},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>frame_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2045},{1,1}}</string>
                <key>offset</key>
                <string>{-639.5,55.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1280,112}</string>
            </dict>
            <key>frame_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1183},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>gameModule/Module_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1781},{244,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{244,69}}</string>
                <key>sourceSize</key>
                <string>{266,69}</string>
            </dict>
            <key>gameModule/Module_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1781},{262,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,73}}</string>
                <key>sourceSize</key>
                <string>{262,73}</string>
            </dict>
            <key>gameModule/Module_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1781},{259,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,73}}</string>
                <key>sourceSize</key>
                <string>{259,73}</string>
            </dict>
            <key>gameModule/Module_353.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1781},{254,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{254,69}}</string>
                <key>sourceSize</key>
                <string>{266,69}</string>
            </dict>
            <key>gameModule/Module_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1781},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>gameModule/Module_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1781},{226,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,72}}</string>
                <key>sourceSize</key>
                <string>{226,72}</string>
            </dict>
            <key>gui-dowload-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,950},{39,39}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>gui-download-guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,984},{51,51}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>gui-download-none.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,866},{39,41}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{39,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>gui-download-progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,909},{39,39}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{39,39}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>gy_bank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1781},{237,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,57}}</string>
                <key>sourceSize</key>
                <string>{237,57}</string>
            </dict>
            <key>gy_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1781},{237,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,57}}</string>
                <key>sourceSize</key>
                <string>{237,57}</string>
            </dict>
            <key>jindutiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,991},{788,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,38}}</string>
                <key>sourceSize</key>
                <string>{788,38}</string>
            </dict>
            <key>jindutiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2009},{786,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,32}}</string>
                <key>sourceSize</key>
                <string>{786,32}</string>
            </dict>
            <key>res_common981_gui-wz-ts-bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,927},{1047,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1047,66}}</string>
                <key>sourceSize</key>
                <string>{1047,66}</string>
            </dict>
            <key>res_common981_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>room_second_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>room_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1280,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,118}}</string>
                <key>sourceSize</key>
                <string>{1280,120}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1034},{56,46}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,46}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d927af88fe0f2b649da50e531939057$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
