<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim/task_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,618},{272,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{272,86}}</string>
                <key>sourceSize</key>
                <string>{278,88}</string>
            </dict>
            <key>anim/task_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,425},{87,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,90}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>changeplayerhead/chp_btn_touxiang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1358},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>changeplayerhead/chp_btn_touxiang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1194},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>changeplayerhead/chp_btn_touxiangkuang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1310},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>changeplayerhead/chp_btn_touxiangkuang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1146},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>changeplayerhead/cph_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{1149,592}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{1149,592}}</string>
                <key>sourceSize</key>
                <string>{1157,606}</string>
            </dict>
            <key>changeplayerhead/cph_btn_qdxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,849},{257,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{257,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>changeplayerhead/cph_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,892},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>changeplayerhead/cph_xuanzhong_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1392},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>daili_btn_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,56},{134,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>grxx_bangdingshouji_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1276},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>grxx_baoxianxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,225},{299,55}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{299,55}}</string>
                <key>sourceSize</key>
                <string>{309,71}</string>
            </dict>
            <key>grxx_btn_bangdingphone_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1276},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>grxx_btn_bangdingshouji_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1112},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>grxx_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,425},{93,51}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{93,51}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>grxx_btn_gerenxinxi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1228},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>grxx_btn_gerenxinxi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1064},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>grxx_btn_huoquyanzhengma_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1024},{201,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{201,86}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>grxx_btn_huoquyanzhengma_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,936},{217,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{217,86}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>grxx_btn_lijibangding.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{134,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>grxx_btn_lijibangding_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,762},{271,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>grxx_btn_quehuanzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,675},{271,85}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>grxx_btn_weibangding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{1,1}}</string>
                <key>offset</key>
                <string>{-54.5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{110,39}</string>
            </dict>
            <key>grxx_btn_xiugaitouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,238},{160,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{160,63}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>grxx_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,618},{296,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,55}}</string>
                <key>sourceSize</key>
                <string>{300,57}</string>
            </dict>
            <key>grxx_phonenumber_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{650,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{650,88}}</string>
                <key>sourceSize</key>
                <string>{652,90}</string>
            </dict>
            <key>grxx_phonenumber_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{1,1}}</string>
                <key>offset</key>
                <string>{-325.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{652,90}</string>
            </dict>
            <key>grxx_phoneyzm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,526},{412,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{412,90}}</string>
                <key>sourceSize</key>
                <string>{414,90}</string>
            </dict>
            <key>grxx_phoneyzm_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{1,1}}</string>
                <key>offset</key>
                <string>{-206.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{414,90}</string>
            </dict>
            <key>grxx_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,110},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>grxx_touxiang_kuang_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,303},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>grxx_userInfo_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,190},{203,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,293}}</string>
                <key>sourceSize</key>
                <string>{203,293}</string>
            </dict>
            <key>grxx_userinfo_cross_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1310},{442,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{442,60}}</string>
                <key>sourceSize</key>
                <string>{444,60}</string>
            </dict>
            <key>grxx_userinfo_jinbi_baoxianxiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{865,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{865,131}}</string>
                <key>sourceSize</key>
                <string>{867,133}</string>
            </dict>
            <key>sex_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,485},{38,38}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>sex_checkbox_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,303},{30,30}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{30,30}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>title_gerenzhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,135},{211,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{211,53}}</string>
                <key>sourceSize</key>
                <string>{225,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personal.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334ac83750524dfa1be6062df57b7b39$</string>
            <key>textureFileName</key>
            <string>personal.png</string>
        </dict>
    </dict>
</plist>
