<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/room/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,496}</string>
                <key>spriteSourceSize</key>
                <string>{610,496}</string>
                <key>textureRect</key>
                <string>{{2,2},{610,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{176,753},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,73}</string>
                <key>spriteSourceSize</key>
                <string>{171,73}</string>
                <key>textureRect</key>
                <string>{{229,766},{171,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/del_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,73}</string>
                <key>spriteSourceSize</key>
                <string>{171,73}</string>
                <key>textureRect</key>
                <string>{{305,1069},{171,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{404,1347},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/invite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{158,54}</string>
                <key>spriteSourceSize</key>
                <string>{166,68}</string>
                <key>textureRect</key>
                <string>{{175,1252},{158,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/invitebtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{158,54}</string>
                <key>spriteSourceSize</key>
                <string>{166,68}</string>
                <key>textureRect</key>
                <string>{{349,841},{158,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{455,960},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,73}</string>
                <key>textureRect</key>
                <string>{{154,1078},{172,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/num0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,73}</string>
                <key>spriteSourceSize</key>
                <string>{172,73}</string>
                <key>textureRect</key>
                <string>{{228,691},{172,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,75}</string>
                <key>spriteSourceSize</key>
                <string>{171,75}</string>
                <key>textureRect</key>
                <string>{{2,770},{171,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,75}</string>
                <key>spriteSourceSize</key>
                <string>{171,75}</string>
                <key>textureRect</key>
                <string>{{2,847},{171,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,75}</string>
                <key>spriteSourceSize</key>
                <string>{172,75}</string>
                <key>textureRect</key>
                <string>{{2,693},{172,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,75}</string>
                <key>spriteSourceSize</key>
                <string>{172,75}</string>
                <key>textureRect</key>
                <string>{{228,614},{172,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,75}</string>
                <key>spriteSourceSize</key>
                <string>{171,75}</string>
                <key>textureRect</key>
                <string>{{2,924},{171,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,75}</string>
                <key>spriteSourceSize</key>
                <string>{171,75}</string>
                <key>textureRect</key>
                <string>{{2,1001},{171,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{2,1252},{171,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{2,1328},{171,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{2,1078},{172,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/num5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{78,1078},{172,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{402,614},{171,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/num6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{175,993},{171,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{229,1069},{171,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/num7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{231,1242},{171,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{175,841},{172,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{175,917},{172,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{231,1318},{171,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/num9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,74}</string>
                <key>spriteSourceSize</key>
                <string>{171,74}</string>
                <key>textureRect</key>
                <string>{{405,787},{171,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/qrcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,77}</string>
                <key>spriteSourceSize</key>
                <string>{224,77}</string>
                <key>textureRect</key>
                <string>{{2,614},{224,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/room/reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,73}</string>
                <key>spriteSourceSize</key>
                <string>{171,73}</string>
                <key>textureRect</key>
                <string>{{380,1001},{171,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/reset_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,73}</string>
                <key>spriteSourceSize</key>
                <string>{171,73}</string>
                <key>textureRect</key>
                <string>{{404,1174},{171,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/room/unlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{176,693},{58,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{500,1412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19e618bcf28a9d140db8289bfaf646f:8be45d23d87a5298972e368ba73a7fc8:9cabe332c4455e9d61bfbf6c3ac19176$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
