<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xszy_caishenrenwu_btn_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,327},{183,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{183,64}</string>
            </dict>
            <key>xszy_caishenrenwu_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,683},{639,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,174}}</string>
                <key>sourceSize</key>
                <string>{639,174}</string>
            </dict>
            <key>xszy_duihuan_btn_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,327},{231,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,80}}</string>
                <key>sourceSize</key>
                <string>{231,80}</string>
            </dict>
            <key>xszy_duihuan_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{874,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,208}}</string>
                <key>sourceSize</key>
                <string>{874,208}</string>
            </dict>
            <key>xszy_meinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,445}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{323,445}}</string>
                <key>sourceSize</key>
                <string>{325,455}</string>
            </dict>
            <key>xszy_zhiyin_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{351,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,176}</string>
            </dict>
            <key>xszy_zhiyin_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{351,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinshouzhiyin.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff9ccaa5f61eed6df305ed78f65088fd$</string>
            <key>textureFileName</key>
            <string>xinshouzhiyin.png</string>
        </dict>
    </dict>
</plist>
