<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allcommon/coin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,104}</string>
                <key>spriteSourceSize</key>
                <string>{125,104}</string>
                <key>textureRect</key>
                <string>{{1,311},{125,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allcommon/coin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,80}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{890,425},{107,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,56}</string>
                <key>spriteSourceSize</key>
                <string>{107,56}</string>
                <key>textureRect</key>
                <string>{{1120,1},{107,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allcommon/coin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,102}</string>
                <key>spriteSourceSize</key>
                <string>{107,102}</string>
                <key>textureRect</key>
                <string>{{559,403},{107,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{107,311},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{222,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{222,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{668,403},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{802,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_100000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{802,107},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_1000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{803,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_10000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{890,319},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{223,305},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_200000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{339,305},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{338,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{338,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_500000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{455,287},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_5000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{908,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{454,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{454,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{571,287},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{570,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{908,107},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{909,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_100000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{996,319},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_1000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1014,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_10000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1014,107},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{570,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_200000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{686,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{686,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{687,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_500000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{774,349},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/comjetton_hui_5000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1015,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/effect_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{149,52}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{369,233},{149,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/effect_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{149,52}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{520,233},{149,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/gui-btn-record-choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,85}</string>
                <key>spriteSourceSize</key>
                <string>{127,85}</string>
                <key>textureRect</key>
                <string>{{303,421},{127,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/gui-btn-record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,81}</string>
                <key>spriteSourceSize</key>
                <string>{127,85}</string>
                <key>textureRect</key>
                <string>{{432,421},{125,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/hallBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{151,62}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{1,438},{151,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{999,425},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/music_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{145,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{222,233},{145,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/music_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{147,70}</string>
                <key>spriteSourceSize</key>
                <string>{157,70}</string>
                <key>textureRect</key>
                <string>{{154,427},{147,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,308}</string>
                <key>spriteSourceSize</key>
                <string>{219,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allcommon/show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{1111,319},{110,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1177,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bea590cad387968f8e556d22610e918:5058682cb143e92603609a6bcaed07d6:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
