<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_changjianwenti_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,3776},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_changjianwenti_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,4013},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_lianxikefu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,3874},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_lianxikefu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,4013},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_mail_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,3874},{178,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4014},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>kefu_btn_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,616},{271,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>kefu_changjianwenti_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{846,2226}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{846,2226}}</string>
                <key>sourceSize</key>
                <string>{860,2264}</string>
            </dict>
            <key>kefu_liaotian_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,3874},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>kefu_liaotian_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,3874},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>kefu_liaotian_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,3122},{652,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,90}}</string>
                <key>sourceSize</key>
                <string>{652,90}</string>
            </dict>
            <key>kefu_liaotian_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,2},{1,1}}</string>
                <key>offset</key>
                <string>{-325.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{652,90}</string>
            </dict>
            <key>kefu_shijian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,2},{1,1}}</string>
                <key>offset</key>
                <string>{-103,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{207,32}</string>
            </dict>
            <key>kefu_swfkwt_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,4054},{310,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,36}}</string>
                <key>sourceSize</key>
                <string>{310,36}</string>
            </dict>
            <key>kefu_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,3939},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>kefu_touxiang_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,3935},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>kefu_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,3874},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>mail/frame_look_gonggao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,3122},{750,612}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{750,612}}</string>
                <key>sourceSize</key>
                <string>{750,628}</string>
            </dict>
            <key>mail/frame_look_gonggao_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,3997},{96,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,7},{96,44}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>mail/frame_look_mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{940,612}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{940,612}}</string>
                <key>sourceSize</key>
                <string>{940,628}</string>
            </dict>
            <key>mail/frame_look_mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,3874},{94,44}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{94,44}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>mail/frame_mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{940,612}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,612}}</string>
                <key>sourceSize</key>
                <string>{940,628}</string>
            </dict>
            <key>mail/frame_mail_btn_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,3946},{162,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,65}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>mail/frame_mail_btn_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,3948},{162,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{162,63}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>mail/frame_mail_btn_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,616},{271,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>mail/frame_mail_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,616},{271,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>mail/frame_mail_btn_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{271,85}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>mail/frame_mail_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,3122},{824,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{824,90}}</string>
                <key>sourceSize</key>
                <string>{826,96}</string>
            </dict>
            <key>mail/frame_mail_status_weidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,3858},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>mail/frame_mail_status_yidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,3874},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>mail/mail_cell_bg_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{890,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,123}}</string>
                <key>sourceSize</key>
                <string>{890,123}</string>
            </dict>
            <key>mail/mail_cell_bg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3122},{890,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{890,115}}</string>
                <key>sourceSize</key>
                <string>{890,123}</string>
            </dict>
            <key>mail/mail_looked_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,3874},{121,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,87}}</string>
                <key>sourceSize</key>
                <string>{121,87}</string>
            </dict>
            <key>title_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,3874},{190,58}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{190,58}}</string>
                <key>sourceSize</key>
                <string>{230,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>services.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25be5aa1926874c8dbdc3d49c3a23379$</string>
            <key>textureFileName</key>
            <string>services.png</string>
        </dict>
    </dict>
</plist>
