<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,360},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>BaiRenDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,357},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>BaiRenDefault_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{228,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,352}}</string>
                <key>sourceSize</key>
                <string>{228,352}</string>
            </dict>
            <key>Classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,357},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>Classic_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{228,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,352}}</string>
                <key>sourceSize</key>
                <string>{228,352}</string>
            </dict>
            <key>DouNiuDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,357},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>FishDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>FishDefault_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{228,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,352}}</string>
                <key>sourceSize</key>
                <string>{228,352}</string>
            </dict>
            <key>HongHeiDaZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,360},{226,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{226,174}</string>
            </dict>
            <key>LongHuDou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,256},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>MaJiangDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,181},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>PaoDeKuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,181},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>QiangZhuangDouNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,181},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>T3CardDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,2},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>TexasDefault2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>WaterMargin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>game_status_BaoMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,383},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>game_status_FanMang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,256},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>game_status_KongXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,129},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>game_status_LiangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{74,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,124}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>hall_download_loading_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,423},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>hall_download_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,461},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>hall_download_mark_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,352}}</string>
                <key>sourceSize</key>
                <string>{228,352}</string>
            </dict>
            <key>hall_download_mark_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{226,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,176}}</string>
                <key>sourceSize</key>
                <string>{226,176}</string>
            </dict>
            <key>hall_download_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,360},{201,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,60}}</string>
                <key>sourceSize</key>
                <string>{201,60}</string>
            </dict>
            <key>hall_download_progress_ft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,181},{201,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,60}}</string>
                <key>sourceSize</key>
                <string>{201,60}</string>
            </dict>
            <key>hall_download_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,423},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
            <key>w_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,360},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_game_icon.png</string>
            <key>size</key>
            <string>{1918,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef2ccaab97d368b6214be457c5dcf99a:1/1$</string>
            <key>textureFileName</key>
            <string>hall_game_icon.png</string>
        </dict>
    </dict>
</plist>
