<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_login_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,304},{162,44}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,30},{162,44}}</string>
                <key>sourceSize</key>
                <string>{330,86}</string>
            </dict>
            <key>create_account_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,258},{164,44}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,31},{164,44}}</string>
                <key>sourceSize</key>
                <string>{330,86}</string>
            </dict>
            <key>find_password_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,212},{164,44}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,30},{164,44}}</string>
                <key>sourceSize</key>
                <string>{330,86}</string>
            </dict>
            <key>frame_huoquyanzhengma_countdown_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{231,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{231,82}}</string>
                <key>sourceSize</key>
                <string>{233,92}</string>
            </dict>
            <key>login_account_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{508,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,83}}</string>
                <key>sourceSize</key>
                <string>{508,83}</string>
            </dict>
            <key>login_account_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,447},{562,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,90}}</string>
                <key>sourceSize</key>
                <string>{562,90}</string>
            </dict>
            <key>login_account_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-280.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{562,90}</string>
            </dict>
            <key>login_account_head_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2002},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>login_and_register_account_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{826,593}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{826,593}}</string>
                <key>sourceSize</key>
                <string>{830,609}</string>
            </dict>
            <key>login_btn_account_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,141},{178,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,69}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>login_btn_create_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,70},{178,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,69}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>login_btn_huoquyanzhengma_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,986},{231,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{231,86}}</string>
                <key>sourceSize</key>
                <string>{233,92}</string>
            </dict>
            <key>login_btn_ljcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1355},{271,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>login_btn_ljdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1268},{271,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>login_btn_login_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{180,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,66}}</string>
                <key>sourceSize</key>
                <string>{182,66}</string>
            </dict>
            <key>login_btn_login_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1765},{271,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{271,85}}</string>
                <key>sourceSize</key>
                <string>{273,117}</string>
            </dict>
            <key>login_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1492},{271,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>login_btn_qiehuan_zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,350},{161,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,63}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>login_btn_quick_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1219},{271,85}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{271,85}}</string>
                <key>sourceSize</key>
                <string>{273,117}</string>
            </dict>
            <key>login_btn_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1098},{271,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{271,85}}</string>
                <key>sourceSize</key>
                <string>{273,117}</string>
            </dict>
            <key>login_btn_wjmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,415},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>login_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{42,44}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login_checkbox_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,212},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{24,24}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login_chongxin_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,415},{248,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{248,78}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>login_yzm_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,665},{319,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,90}}</string>
                <key>sourceSize</key>
                <string>{319,90}</string>
            </dict>
            <key>login_yzm_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-159,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{319,90}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{826,593}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{826,593}}</string>
                <key>sourceSize</key>
                <string>{830,609}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_btn_czmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1344},{201,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{201,65}}</string>
                <key>sourceSize</key>
                <string>{223,65}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_btn_dlqtzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1425},{207,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{207,65}}</string>
                <key>sourceSize</key>
                <string>{223,65}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_btn_qddl.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1268},{223,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{223,74}}</string>
                <key>sourceSize</key>
                <string>{309,88}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_btn_shanchu_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1011},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_cell_bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1268},{746,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{746,80}}</string>
                <key>sourceSize</key>
                <string>{748,88}</string>
            </dict>
            <key>qiehuanZH/qiehuanZH_cell_bg_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1192},{740,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,74}}</string>
                <key>sourceSize</key>
                <string>{740,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a09374224383092dce5dd180b17c2e26$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
