<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duobao/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1194,685}</string>
                <key>spriteSourceSize</key>
                <string>{1194,685}</string>
                <key>textureRect</key>
                <string>{{2,2},{1194,685}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/canyu_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,61}</string>
                <key>spriteSourceSize</key>
                <string>{176,81}</string>
                <key>textureRect</key>
                <string>{{689,687},{158,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/canyu_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,81}</string>
                <key>spriteSourceSize</key>
                <string>{176,81}</string>
                <key>textureRect</key>
                <string>{{689,604},{176,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/dangqian_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{689,987},{141,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/dangqian_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,77}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{689,750},{157,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/goldTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,81}</string>
                <key>spriteSourceSize</key>
                <string>{349,81}</string>
                <key>textureRect</key>
                <string>{{848,806},{349,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/his_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{689,1048},{141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/his_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,77}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{689,829},{157,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/itembg_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,181}</string>
                <key>spriteSourceSize</key>
                <string>{299,181}</string>
                <key>textureRect</key>
                <string>{{689,2},{299,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/itembg_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,181}</string>
                <key>spriteSourceSize</key>
                <string>{299,181}</string>
                <key>textureRect</key>
                <string>{{689,303},{299,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/processbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,30}</string>
                <key>spriteSourceSize</key>
                <string>{552,30}</string>
                <key>textureRect</key>
                <string>{{872,252},{552,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/shangqi_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{750,1048},{141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duobao/shangqi_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,77}</string>
                <key>spriteSourceSize</key>
                <string>{157,77}</string>
                <key>textureRect</key>
                <string>{{689,908},{157,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duobao/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,52}</string>
                <key>spriteSourceSize</key>
                <string>{248,52}</string>
                <key>textureRect</key>
                <string>{{872,2},{248,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>duobao.png</string>
            <key>size</key>
            <string>{931,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dcd38614854effdfc39c101586fac3d:3df81492a8d8f2a4ff1960d8965de5ad:876004e2b6834936a6069c2e279bdeb0$</string>
            <key>textureFileName</key>
            <string>duobao.png</string>
        </dict>
    </dict>
</plist>
