<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font/table_small_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,788},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>font/vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,43},{137,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,116}}</string>
                <key>sourceSize</key>
                <string>{137,116}</string>
            </dict>
            <key>vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{819,487}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{819,487}}</string>
                <key>sourceSize</key>
                <string>{825,545}</string>
            </dict>
            <key>vip_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>vip_btn_hytq.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,179},{84,91}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{84,91}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>vip_btn_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,43},{134,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>vip_head_label_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,272},{80,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{80,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{98,90}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{98,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,886},{96,88}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{96,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,788},{96,92}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{96,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,886},{96,92}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{96,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,788},{96,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{96,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_head_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,469},{98,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{98,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vip_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{187,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,39}}</string>
                <key>sourceSize</key>
                <string>{187,39}</string>
            </dict>
            <key>vip_manji_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,354},{432,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,65}}</string>
                <key>sourceSize</key>
                <string>{432,65}</string>
            </dict>
            <key>vip_manji_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{334,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,43}}</string>
                <key>sourceSize</key>
                <string>{334,43}</string>
            </dict>
            <key>vip_maozi_label_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,425},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,381},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,337},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,293},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,249},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,205},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_maozi_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,161},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>vip_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,984},{296,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,35}}</string>
                <key>sourceSize</key>
                <string>{296,35}</string>
            </dict>
            <key>vip_progress_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,491},{288,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{288,25}}</string>
                <key>sourceSize</key>
                <string>{296,35}</string>
            </dict>
            <key>vip_title_label_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,491},{273,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,35}}</string>
                <key>sourceSize</key>
                <string>{273,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6fe02667450ed4c3029c8e397ee7e2$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
