<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui-ts1-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,246}</string>
                <key>spriteSourceSize</key>
                <string>{490,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-ts1-close-s-dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{577,1},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-ts1-close-s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{577,63},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui-ts1-queding-dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,82}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{493,1},{164,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gui-ts1-queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,82}</string>
                <key>textureRect</key>
                <string>{{493,167},{144,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tiplayer.png</string>
            <key>size</key>
            <string>{638,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993ba95f2a7ff47979bfeacab355a431:d4f6a5f592e1785b1aa45e927c2c474a:21d4f24f44f9da6dd7896aab243f9173$</string>
            <key>textureFileName</key>
            <string>tiplayer.png</string>
        </dict>
    </dict>
</plist>
