<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{367,2},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{239,68},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{53,70},{53,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{316,2},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{2,70},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{354,56},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{405,56},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{416,2},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{107,68},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{290,66},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{64,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{252,2},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{130,2},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{173,68},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startup/zhucheshaiziyaodong_dating/zhucheshaizi20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{192,2},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhucheshaiziyaodong_dating.png</string>
            <key>size</key>
            <string>{465,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d42c4da192d2db6b95bd252e856411:48ccb56cc65189fba7a99a5888053ba6:cda6132ee2aae8136c11a298973c2bcf$</string>
            <key>textureFileName</key>
            <string>zhucheshaiziyaodong_dating.png</string>
        </dict>
    </dict>
</plist>
