<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startup/youxifenlei_dating/youxifenlei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{2,2},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/youxifenlei_dating/youxifenleiguangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{83,122},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startup/youxifenlei_dating/youxifenleiguangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{103,113}</string>
                <key>textureRect</key>
                <string>{{2,122},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>youxifenlei_dating.png</string>
            <key>size</key>
            <string>{159,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbbc1e3273d3e47d2f35078e0d7c01f0:5641e48c166b7244db3d06c3f2718632:5af38f480d47d0dcaf28f51daa0f70cd$</string>
            <key>textureFileName</key>
            <string>youxifenlei_dating.png</string>
        </dict>
    </dict>
</plist>
