<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim/daetuijian/daetuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1434},{92,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{92,53}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>biaoti_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1892},{240,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>btn_dailichongzhi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2270},{184,80}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_dailichongzhi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1666},{198,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_qqqianbao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2188},{184,80}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_qqqianbao_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1584},{198,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2262},{219,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{219,85}}</string>
                <key>sourceSize</key>
                <string>{221,87}</string>
            </dict>
            <key>btn_weixin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2106},{184,80}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_weixin_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1502},{198,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_yinlianchongzhi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2024},{184,80}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_yinlianchongzhi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1420},{198,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_zhifubao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1705},{184,80}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>btn_zhifubao_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1338},{198,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>cz_bank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2023},{234,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,57}}</string>
                <key>sourceSize</key>
                <string>{236,57}</string>
            </dict>
            <key>cz_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1964},{237,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,57}}</string>
                <key>sourceSize</key>
                <string>{237,57}</string>
            </dict>
            <key>cz_coin_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2403},{515,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{515,90}}</string>
                <key>sourceSize</key>
                <string>{517,92}</string>
            </dict>
            <key>cz_coin_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-258,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{517,92}</string>
            </dict>
            <key>cz_huabei_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2669},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>cz_label_czje.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,778},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>cz_label_qqqianbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,901},{101,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>cz_label_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1498},{63,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>cz_label_yinlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,743},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>cz_label_zhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1434},{92,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>cz_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1136},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cz_loading_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2654},{456,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,456}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>cz_qqqianbao_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2735},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>cz_tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1790},{663,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,83}}</string>
                <key>sourceSize</key>
                <string>{663,83}</string>
            </dict>
            <key>cz_tips_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1705},{663,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,83}}</string>
                <key>sourceSize</key>
                <string>{663,83}</string>
            </dict>
            <key>cz_tips_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1620},{694,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,83}}</string>
                <key>sourceSize</key>
                <string>{694,83}</string>
            </dict>
            <key>cz_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2455},{515,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,55}}</string>
                <key>sourceSize</key>
                <string>{517,57}</string>
            </dict>
            <key>cz_weixin_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2669},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>cz_xinyongka_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2647},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>cz_yinlian_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2559},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>cz_zhifubao_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2315},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>daili/daili_btn_ddcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2403},{85,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{85,70}}</string>
                <key>sourceSize</key>
                <string>{111,92}</string>
            </dict>
            <key>daili/daili_btn_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,689},{134,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>daili/daili_btn_fuzhizhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,689},{134,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>daili/daili_btn_fuzhizhanghao_.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,864},{114,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,35}}</string>
                <key>sourceSize</key>
                <string>{114,35}</string>
            </dict>
            <key>daili/daili_btn_jbdls.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1620},{228,54}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{244,54}</string>
            </dict>
            <key>daili/daili_cell_dlcz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2082},{226,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,178}}</string>
                <key>sourceSize</key>
                <string>{226,178}</string>
            </dict>
            <key>daili/daili_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2039,2},{962,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,2}}</string>
                <key>sourceSize</key>
                <string>{962,2}</string>
            </dict>
            <key>daili/daili_fuzhi_tishi_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1891},{596,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{596,99}}</string>
                <key>sourceSize</key>
                <string>{660,111}</string>
            </dict>
            <key>daili/daili_fuzhi_tishi_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,936},{596,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{596,99}}</string>
                <key>sourceSize</key>
                <string>{660,111}</string>
            </dict>
            <key>daili/daili_haoma_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2495},{479,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,90}}</string>
                <key>sourceSize</key>
                <string>{479,90}</string>
            </dict>
            <key>daili/daili_qq_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,901},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>daili/daili_tishizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{782,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,28}}</string>
                <key>sourceSize</key>
                <string>{782,28}</string>
            </dict>
            <key>daili/daili_tishizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{914,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,54}}</string>
                <key>sourceSize</key>
                <string>{914,54}</string>
            </dict>
            <key>daili/daili_wdzh_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,743},{87,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,20}}</string>
                <key>sourceSize</key>
                <string>{87,20}</string>
            </dict>
            <key>daili/daili_weixin_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,991},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,569},{950,565}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,565}}</string>
                <key>sourceSize</key>
                <string>{950,567}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_btn_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2492},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_btn_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1364},{153,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,68}}</string>
                <key>sourceSize</key>
                <string>{157,80}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_btn_jrlt.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2455},{169,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{169,68}}</string>
                <key>sourceSize</key>
                <string>{177,80}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_btn_zlyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2422},{169,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{169,68}}</string>
                <key>sourceSize</key>
                <string>{177,80}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2112},{573,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,72}}</string>
                <key>sourceSize</key>
                <string>{573,72}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_cell_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-286,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{573,72}</string>
            </dict>
            <key>daili/dingdan/dd_ddcx_new_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,939},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{950,565}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,565}}</string>
                <key>sourceSize</key>
                <string>{950,567}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_fangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2385},{180,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1628},{71,33}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{71,33}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_jia_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2403},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_jia_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1434},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_zfmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1534},{251,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,93}}</string>
                <key>sourceSize</key>
                <string>{251,93}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_btn_zlyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2352},{180,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1950},{633,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,68}}</string>
                <key>sourceSize</key>
                <string>{633,68}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-316,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{633,68}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_editbox_bg_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{633,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,68}}</string>
                <key>sourceSize</key>
                <string>{633,68}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_img_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2525},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_img_receve_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1880},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,2},{400,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,1}}</string>
                <key>sourceSize</key>
                <string>{400,1}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_pj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1629},{684,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{684,245}}</string>
                <key>sourceSize</key>
                <string>{700,263}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_pj_btn_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2349},{142,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,194}}</string>
                <key>sourceSize</key>
                <string>{142,194}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_pj_btn_zan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,1748},{142,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,194}}</string>
                <key>sourceSize</key>
                <string>{142,194}</string>
            </dict>
            <key>daili/dingdan/dd_gfcz_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1026},{600,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,36}}</string>
                <key>sourceSize</key>
                <string>{600,36}</string>
            </dict>
            <key>daili/dingdan/dd_tishi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{750,484}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,484}}</string>
                <key>sourceSize</key>
                <string>{750,486}</string>
            </dict>
            <key>daili/dingdan/dd_tishi_btn_jdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2315},{180,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,68}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>daili/dingdan/dd_tishi_btn_xdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,813},{116,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{116,49}}</string>
                <key>sourceSize</key>
                <string>{132,51}</string>
            </dict>
            <key>daili/dingdan/dd_xxxx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1136},{750,482}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,482}}</string>
                <key>sourceSize</key>
                <string>{750,486}</string>
            </dict>
            <key>jubao/jubao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{940,617}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{940,617}}</string>
                <key>sourceSize</key>
                <string>{940,625}</string>
            </dict>
            <key>jubao/jubao_btn_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2493},{271,85}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{271,85}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>jubao/jubao_btn_jbyj_blank(old).png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2489},{300,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,90}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>jubao/jubao_btn_jbyj_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,90}</string>
            </dict>
            <key>jubao/jubao_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2020},{592,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,90}}</string>
                <key>sourceSize</key>
                <string>{592,90}</string>
            </dict>
            <key>jubao/jubao_editbox_bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,404},{1,1}}</string>
                <key>offset</key>
                <string>{-295.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{592,90}</string>
            </dict>
            <key>jubao/jubao_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2186},{572,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,180}}</string>
                <key>sourceSize</key>
                <string>{572,180}</string>
            </dict>
            <key>pay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1083,685}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{1083,685}}</string>
                <key>sourceSize</key>
                <string>{1097,691}</string>
            </dict>
            <key>zfbbangzhu/zfb_bangzhu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1875},{661,526}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{661,526}}</string>
                <key>sourceSize</key>
                <string>{661,536}</string>
            </dict>
            <key>zfbbangzhu/zfb_bangzhu_xiangqing_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2368},{532,284}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{532,284}}</string>
                <key>sourceSize</key>
                <string>{552,328}</string>
            </dict>
            <key>zfbbangzhu/zfb_btn_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1394},{244,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{244,29}}</string>
                <key>sourceSize</key>
                <string>{244,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b21569249564467f7ed154ac20adcc18$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
